{% extends './layout.html' %}


{% block title %}修改密码{% endblock %}


{% block content %}

<form class="form-horizontal" id="passwords" action="/admin/password" method="post">
 

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
    <div class="col-sm-5">
      <input type="passord" name="passord" class="form-control" id="inputPassword3" placeholder="请输入">
    <p class="text-danger err"></p>
    </div>
  </div>  

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">确定密码</label>
    <div class="col-sm-5">
      <input type="password" name="repassword" class="form-control" id="inputPassword3" placeholder="请输入">
    <p class="text-danger err"></p>
    </div>
  </div>

 
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn  btn-primary" id="btn-sub">修改密码</button>
    </div>
  </div>
</form>

{% endblock %}

{% block end %}
<script src="/js/password.js"> </script>
{% endblock %}