<!DOCTYPE html>
<html>
<head>
	<title>kmall</title>
	<meta name="description" content="跨足网 提供各类服饰、美容、家居、数码、话费/点卡充值… 数亿优质商品，款)等安全交易保障服务，让你安心享受网上购物乐趣！" />
	<meta name="keyword" content="C2C,在线交易,网上交易,网上卖,购物网站,团购,网上贸易,安全购物,电子商务" />
	
</head>
<body>
<!-- <i class="fa fa-user">	</i> -->

 <%= require('html-loader!./common/nav.html')  %>
 <%= require('html-loader!./common/search.html')  %>

<div class="focus clearfix">
	<div class="container">
		<ul class="keywords" id="keywords">
		
		</ul>
		<div class="carousel">
			    <ul>
			        <li>
						<a href="./list.html?categoryId=111">
							<img src="<%= require('../images/carousel/1.jpg') %>" alt="">
						</a>
			        </li>
			  		<li>
						<a href="./list.html?categoryId=111">
							<img src="<%= require('../images/carousel/1.jpg') %>" alt="">
						</a>
			        </li>
			  		<li>
						<a href="./list.html?categoryId=111">
							<img src="<%= require('../images/carousel/1.jpg') %>" alt="">
						</a>
			        </li>
			  
			    </ul>
				<span class="arrow prev">
					<i class="fa fa-angle-left"></i>
				</span>
				<span class="arrow next">
					<i class="fa fa-angle-right"></i>
				</span>
		
		</div>
	</div>
</div>

<div class="floor">
	<div class="container">
		<div class="floor-wrap ">
			<div class="floor-box ">
				<h2>f1数码	</h2>
				<ul class="floor-list ">
					<li class="floor-item">
						<a href="./list.html?categoryId=111" class="link">
							<p class="floor-text">手机</p>
							<img src="<%= require('images/floor/floor1-1.jpg') %>" alt="">
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=111" class="link">
							<p class="floor-text">手机</p>
							<img src="<%= require('images/floor/floor1-1.jpg') %>" alt="">
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=111" class="link">
							<p class="floor-text">手机</p>
							<img src="<%= require('images/floor/floor1-1.jpg') %>" alt="">
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=111" class="link">
							<p class="floor-text">手机</p>
							<img src="<%= require('images/floor/floor1-1.jpg') %>" alt="">
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=111" class="link">
							<p class="floor-text">手机</p>
							<img src="<%= require('images/floor/floor1-1.jpg') %>" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>






 <!--安装包 
 	npm install html-loader --save-dev; -->
 <%= require('html-loader!./common/footer.html')  %>
</body>
</html>