<!DOCTYPE html>
<html>
<head>
	<title>kmall</title>
	<meta name="description" content="跨足网 提供各类服饰、美容、家居、数码、话费/点卡充值… 数亿优质商品，款)等安全交易保障服务，让你安心享受网上购物乐趣！" />
	<meta name="keyword" content="C2C,在线交易,网上交易,网上卖,购物网站,团购,网上贸易,安全购物,电子商务" />
	
</head>
<body>
<!-- <i class="fa fa-user">	</i> -->

 <%= require('html-loader!./common/nav.html')  %>
 <%= require('html-loader!./common/search.html')  %>

<div class="user-page-wrap clearfix">
	<div class="container ">
		
		 <%= require('html-loader!./common/side.html')  %>
		<div class="side-content">
			<!-- <div class="user-form">
				<div class="form-item">
					<div class="label-item">
						用户名:
					</div>
					<div class="content-item">
						xxx{{username}}
					</div>
				</div>
				<div class="form-item">
					<div class="label-item">
						手机号:
					</div>
					<div class="content-item">
						xxx{{phone}}
					</div>
				</div>
				<div class="form-item">
					<div class="label-item">
						邮箱:
					</div>
					<div class="content-item">
						xxx{{email}}
					</div>
				</div>
			</div> -->
		</div>

	</div>	
</div>








 <!--安装包 
 	npm install html-loader --save-dev; -->
 <%= require('html-loader!./common/footer.html')  %>
</body>
</html>